.profile__info {
  margin: 0;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 16px 18px;
  justify-items: start;
  align-items: end;
  margin-left: 30px;
  box-sizing: border-box;
  grid-template-areas: "name edit"
  "bio .";
}

@media screen and (max-width: 900px) {
  .profile__info {
    grid-gap: 14px 16px;
  }
}


@media screen and (max-width: 600px) {
  .profile__info {
    grid-template-areas: ". name edit"
    ". bio .";
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: min-content;
    margin: 26px 0 34px;
    grid-gap: 10px 10px;
    }
}
