.profile {
  padding: 40px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 600px) {
  .profile {
    padding: 42px 19px 36px;
    flex-direction: column;
    max-width: 320px;
    min-height: 286px;
    max-width: 282px;
  }
}
