.elements {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

@media screen and (max-width: 600px) {
  .elements {
    grid-gap: 20px;
    justify-content: center;
  }
}
