.card__delete-button {
  position: absolute;
  margin: 0;
  background-image: url(../../../images/remove.svg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19px;
  right: 20px;
  top: 20px;
  transition: 0.2s;
  cursor: pointer;
}


.card__delete-button:hover {
  opacity: 0.6;
}
