.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
}


@media screen and (max-width: 600px) {
  .header {
    width: 320px;
    margin: 0 auto;
    padding-bottom: 31px;
    padding-left: 27px;
    box-sizing: border-box;
  }
}
