.profile__bio {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  grid-area: bio;
}

@media screen and (max-width: 600px) {
  .profile__bio {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin: 0 auto;
  }
}
